[user]
	name = Svintooo
	email = svintoo@svintoo.com
[log]
	date = iso
[color]
	ui = auto
[alias]
	alias = !git config alias-settings.list-aliases | sh && true
	st = status
	br = branch
	ci = commit
	co = checkout
	sw = switch
	head = rev-list -n1 --abbrev-commit HEAD
	amend = commit --amend --date=now
	hist=hist0
	hist0 = "! test -t 1 && color='--color' || color='' && git log --graph --abbrev-commit --decorate --date=short --format=format:'%C(red)%h%C(reset) %C(yellow)%ad%C(reset) %C(green)[%an]%C(reset) %C(white)%s%C(reset)%C(bold blue)%d%C(reset)' $color \"$@\" | awk '1 #Restore missing newline at EOF' | sed -E 's,(\\]\\S*) ,\\1░,' | column -t -s░ | sed -E 's,(\\s+)(\\S*\\[[^][]+\\]\\S*)(\\s+) ,\\3\\2\\1,' && true"
	hist1 = hist0 --all
	hist2 = log --graph --abbrev-commit --decorate --date=iso --format=format:'%C(red)%h%C(reset) %C(dim yellow)%ad%C(reset) %C(dim green)[%an]%C(reset)%C(bold blue)%d%C(reset)%n''         %C(white)%s%C(reset)'
	wdiff = diff --ws-error-highlight=all --color-words --word-diff-regex='[A-Za-z_]+|[0-9]+([.][0-9]+)?|[0-9]+(:[0-9]+)+|[^[:space:]]'
[alias-settings]
	list-aliases = "(                                                               \
	                  echo \"# GLOBAL\";                                            \
	                  git config --global --list;                                   \
	                  echo \"# LOCAL\";                                             \
	                  git config --local  --list 2>/dev/null;                       \
	                ) | sed 's/=/ = /'                                              \
	                  | awk -F ''                                                   \
	                        -v TERMWIDTH=\"$(tput cols </dev/tty)\"                 \
	                        'match($0, /^#/) {                                      \
	                           print                                                \
	                         }                                                      \
	                         match($0, /^alias\\.[^=]+ *= */) {                     \
	                           LENGTH=TERMWIDTH-RLENGTH;                            \
	                           HEAD=substr($0, RSTART, RLENGTH);                    \
	                           for (i=RSTART+RLENGTH; i <= length($0); i+=LENGTH) { \
	                             for(i=i; $i==\" \"; i++) {};                       \
	                             print HEAD substr($0, i, LENGTH);                  \
	                             HEAD=sprintf(\"%0*s\", RLENGTH, \"\")              \
	                           }                                                    \
	                         }'                                                     "
